.error-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.error-container > p {
    font-size: 22px;
    margin: 0;
}

.error-container > ul {
    width: 100%;
    padding: 0;
}

.form-error {
    margin-bottom: 5px;
    padding: 5px 20px 5px 20px;

    list-style: none;
    background-color: rgb(255, 222, 222);
    border: 1px solid #ff385c;
    border-left: 3px solid #ff385c;
    border-radius: 6px;
}

#spot-form-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 24px;
}
#title-gradient {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #FF385C, #BD1E59);
    border-radius: 3px;
}

.spot-form-top, .spot-form-middle, .spot-form-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#edit-form-name {
    width: 65%;
}
#edit-form-cost {
    width: 32%;
}
#edit-form-address {
    width: 59%;
}
#edit-form-city {
    width: 38%;
}
#edit-form-state {
    width: 53%;
}
#edit-form-country {
    width: 44%;
}

#spot-post-buttons {
    display: flex;
    justify-content: center;
}

#post-spot-button {
    width: 25%;
}
