.error-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.error-container > p {
    font-size: 22px;
    margin: 0;
}

.error-container > ul {
    width: 100%;
    padding: 0;
}

.form-error {
    margin-bottom: 5px;
    padding: 5px 20px 5px 20px;

    list-style: none;
    background-color: rgb(255, 222, 222);
    border: 1px solid #ff385c;
    border-left: 3px solid #ff385c;
    border-radius: 6px;
}

#spot-form-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 24px;
}
#title-gradient {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #FF385C, #FF385C, #BD1E59, #bd1e5800);
    border-radius: 3px;
}

.spot-form-top, .spot-form-middle, .spot-form-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#edit-form-name {
    width: 65%;
}
#edit-form-cost {
    width: 32%;
}
#edit-form-address {
    width: 59%;
}
#edit-form-city {
    width: 38%;
}
#edit-form-state {
    width: 53%;
}
#edit-form-country {
    width: 44%;
}

#file-upload-container {
    position: relative;
    width: 100%;
    height: 20vh;
    min-height: 180px;
    max-height: 300px;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 8px 5px 8px;

    background-color: white;
    border: 1px solid #737373;
    border-radius: 6px;
    background-clip: padding-box;
}
/* #file-upload-container::after {
    position: absolute;
    z-index: -1;
    content: '';

    top: -2px; bottom: -2px;
    left: -2px; right: -2px;

    background: linear-gradient(135deg, #FF385C, #BD1E59);
    border-radius: 6px;
} */

#img-input {
    margin-top: 5px;
    cursor: pointer;
}
#img-input::file-selector-button {
    padding: 5px 8px 5px 8px;
    cursor: pointer;
}

#upload-image-container {
    display: flex;
    justify-content: space-evenly;
}

.preview-img {
    width: 11%;
    min-width: 80px;
}

#spot-post-buttons {
    display: flex;
    justify-content: center;
}

#post-spot-button {
    width: 25%;
}
