#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 3.3rem;

    margin: 0;
    padding: 0 15% 0 15%;

    background-color: white;
    border-top: 1px solid #dddddd;
}

#footer-right-info {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#footer-language {
    position: relative;
    display: flex;
}
#footer-language > p {margin-left: 5px;}

.footer-right-info-text {
    font-weight: 600;
}

/* tooltips */
.triangle {
    /* visibility: hidden; */
    position: absolute;
    width: 0;
    height: 0;
    left: 52px;
    bottom: 52px;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid #9f9f9f;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-language:hover .triangle {opacity: 100%;}

.footer-language-tt {
    position: absolute;
    z-index: 2;
    width: fit-content;

    padding: 5px 15px 5px 15px;

    left: 10px;
    bottom: 60px;

    font-weight: 600;
    background-color: #9f9f9f;
    border-radius: 5px;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-language:hover .footer-language-tt {opacity: 100%;}
