#footer-container {
    display: flex;
    justify-content: space-between;
    z-index: 2;

    position: fixed;
    bottom: 0;

    width: 100%;

    margin: 0;
    padding: 0 15% 0 15%;

    background-color: white;
    border-top: 1px solid #dddddd;

    transition: height .1s ease-in;
}

#footer-right-info {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#footer-language {
    position: relative;
    display: flex;
    align-items: flex-start;
}
#footer-language > p {margin-left: 5px;}
#footer-globe {
    margin-top: 17px;
}

.footer-right-info-text {
    font-weight: 600;
}

#footer-about {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

#footer-arrow {
    width: 15px;
    margin-top: 18px;
    margin-left: 8px;
    transition: transform .2s linear;
}

.footer-animation-false {
    height: 3.3rem;
}
.footer-animation-true {
    height: 50%;
}
.footer-animation-arrow-true {
    transform: rotate(-180deg);
}

/* tooltips */

.footer-language-tt {
    position: absolute;
    z-index: 2;
    width: fit-content;

    padding: 5px 15px 5px 15px;

    left: 10px;
    bottom: 60px;

    font-weight: 600;
    background-color: #9f9f9f;
    border-radius: 5px;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-language:hover .footer-language-tt {opacity: 100%;}
#language-triangle {
    position: absolute;
    width: 0;
    height: 0;
    left: 52px;
    bottom: 52px;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid #9f9f9f;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-language:hover #language-triangle {opacity: 100%;}

#footer-currency {
    position: relative;
}
.footer-currency-tt {
    position: absolute;
    z-index: 2;
    width: fit-content;

    padding: 5px 15px 5px 15px;

    left: -20px;
    bottom: 60px;

    font-weight: 600;
    background-color: #9f9f9f;
    border-radius: 5px;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-currency:hover .footer-currency-tt {opacity: 100%;}
#currency-triangle {
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    bottom: 52px;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid #9f9f9f;
    opacity: 0;

    transition: opacity .2s ease-in;
}
#footer-currency:hover #currency-triangle {opacity: 100%;}
