#spot-page-top-container {
    display: flex;
    justify-content: center;
    margin: 6% 15% 8% 15%;
}

#img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55%;
    height: 550px;
}
@media only screen and (min-width: 2560px) {
    #img-container {
        width: 45%;
    }
}

#spot-page-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}
#book-your-stay {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.dates {
    margin-left: 8px;
}
#start-date {
    font-weight: 600;
}
#end-date {
    font-weight: 600;
    margin-left: 8px;
}

#spot-details-total {
    margin-top: 30px;
    font-weight: 600;
    font-size: 17px;
}

#submit-booking-button {
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

#spot-page-name {
    font-size: 32px;
}
#spot-page-price,.spot-page-details {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 24px 0;
}
#spot-page-price > span {font-weight: 500;}

#img-container:hover #spot-card-leftarrow,#img-container:hover #spot-card-rightarrow {
    opacity: 80%;
}

#spot-card-leftarrow:hover, #spot-card-rightarrow:hover {
    width: 32px;
    height: 32px;
}

#spot-card-leftarrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    left: 15px;

    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50px;
    opacity: 0;
    transition: opacity .15s ease, width .15s ease, height .15s ease;
}
#spot-card-rightarrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    right: 15px;

    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50px;
    opacity: 0;
    transition: opacity .15s ease, width .15s ease, height .15s ease;
}

#booking-form {
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 15px;
    max-width: 426px;
}
